<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


    <title>Grywalnia</title>

</head>
<body>
<div id="ozd" >

</div>
<header class="header">

    <h1> Wszystko o grach</h1>
</header>
<main id="app">




    <ul class="user_bar">
        <li><a href="/">Glowna</a> </li>


        <li><a href="/gra">Gry</a> </li>
        <li><a class="rights" href="/logowanie">Logowanie</a> </li>
        <li><a class="rights" href="/admin">Admin</a> </li>

    </ul>

    <ul class="user_bar">


        <li><a href="/kontakt">dodaj gre</a> </li>
        <li><a href="/wydawnictwo/addform">dodaj wydawnictwo</a> </li>
        <li><a href="/gra">aktualizuj grę</a> </li>
        <li><a href="/gra">aktualizuj wydawnictwo</a> </li>
    </ul>














</main>
<footer>
    Utworzone przez Jonasz Marczewski
</footer>
</body>
</html>
