<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">

</head>
<body>
<div id="ozd" >

</div>
<header class="header">
    Informacje o grach
</header>
<ul class="user_bar">
    <li><a href="/">Glowna</a> </li>

    <li><a href="/gra">Gry</a> </li>
    <li><a href="/wydawnictwo">Wydawnictwa gier</a> </li>
    <li><a class="rights" href="/logowanie">Logowanie</a> </li>
    <li><a class="rights" href="/admin">Admin</a> </li>

</ul>
<h1>Błąd</h1>
<h1><%= blad %></h1>



<a>

</a>

</body>
</html>