<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">


  <title>Grywalnia</title>

</head>
<body>
<div id="ozd" >

</div>
<header class="header">

  <h1> Wszystko o grach</h1>
</header>
<main id="app">




  <ul class="user_bar">
    <li><a href="/">Glowna</a> </li>


    <li><a href="/gra">Gry</a> </li>
    <li><a href="/wydawnictwo">Wydawnictwa gier</a> </li>
    <li><a class="rights" href="/logowanie">Logowanie</a> </li>
    <li><a class="rights" href="/admin">Admin</a> </li>

  </ul>







  <h1>Powstanie</h1>
  <div class="withimage">
    <a>Często gry są dostepne tylko na odpowiedniej platformie, ale reklamowane na każdych urządzeniach. Ta strona ma za zadanie pomóc w ich znajdowaniu i innych rzeczach. </a>




    <img class="im" src="https://f01.esfr.pl/files/storage/article/photo/fb/68/db/32a9a4442db2e3cd9f931061b0/XboxOne.png" alt="gry">


  </div>





  <div class="bottom">Strona poswiecona gra, wiekszej ilosci gier i ich podobnym.</div>


</main>
<footer>
  Utworzone przez Jonasz Marczewski
</footer>
</body>
</html>
